html {
  font: normal 100%/1.3 sans-serif;
  font-family: "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

span,
i {
  display: block;
}

.btn {
  background-color: #fff;
  color: #005e76;
  border: 2px solid #8bc9d9;
}

.btn:hover {
  background-color: #8bc9d9;
  color: #005e76;
  border: 2px solid #005e76;
}
