html {
  font: normal 100%/1.3 sans-serif;
  font-family: "Noto Sans", sans-serif;
}

li a {
  color: #0084a6;
}

li a:hover {
  color: #005e76;
}

span,
i {
  display: block;
  color: #000;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

section {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn {
  background-color: #fff;
  color: #005e76;
  border: 2px solid #8bc9d9;
}

.btn:hover {
  background-color: #8bc9d9;
  color: #005e76;
  border: 2px solid #005e76;
}

.btn-ghost {
  color: #0084a6;
  border-color: #8bc9d9;
}

.btn-ghost:hover {
  color: #044656;
  border-color: #0084a6;
  background-color: #8bc9d9;
}

footer {
  border-top: 2px solid #e2e2e2;
  color: #000;
}

@media only screen and (min-width: 60em){

}
